<!DOCTYPE html>
{% extends "base.html" %}
{% block title %}
    store
{% endblock %}

{% block main %}
    <div class="card" >
        <img src="{{ product.image_path }}" class="card-img-top img-fluid" style="width: 280px; height:250px;" >
        <div class="card-body">
            <h5 class="card-title">{{ product.title }}</h5>
            <p class="card-text">{{ product.description }}</p>
            <div class="float-start">
                {{ product.price }}
            </div>
            <a href="{% url 'cart' product.pk %}" class="btn btnoutline-dark add-btn float-end">Agregar</a>
        </div>
     </div>
        
{% endblock %}
